<div class="message-container">
  <h2 class="message-title">Message json-raw, get message 3s/1:</h2>
  <h5 class="message-content">{{ message }}</h5>

  <h2>Vui lòng đợi 10-15s sau khi cho căn cước công dân gắn chip vào quét và đã bật ứng dụng để đọc thẻ </h2>
  <button class="copy-button" (click)="copyToClipboard()">Coppy dữ liệu card</button>
  <button class="before-button" (click)="getOldCard()">Coppy dữ liệu card trước đó</button>
  <button class="clear-button" (click)="clearData()">Clear data</button>
</div>

<router-outlet></router-outlet>
